/* Custom styles goes here */

.table-custom-a {
    padding : 3px;
}

.max-w-300 {
    max-width: 300px;
}

.max-w-400 {
    max-width: 400px;
}

.max-w-500 {
    max-width: 500px;
}

.max-w-600 {
    max-width: 600px;
}
